*[views-login] .login-btn {
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
*[views-login] .login-btn:focus,
*[views-login] .login-btn:hover {
  background: #0D9FFA !important;
}
*[views-login] .login-btn:active {
  opacity: 0.5;
}
*[views-login] input {
  border-style: none !important;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}
