
html,
body
{
	
	margin: 0;
	overflow: hidden;
	
}

.pointer
{
	
	cursor: pointer;
	
}

.no-hit
{
	
	pointer-events: none;
	
}

.zero-alpha
{
	
	opacity: 0 !important;
	
}

input
{
	
	border-style: none !important;
	
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	
}

.go-btn
{
	
	cursor: pointer;
	
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	
	&:focus,
	&:hover
	{
		
		background: #0D9FFA !important;
		
	}
	
	&:active
	{
		
		opacity: 0.5;
		
	}
	
}
