.fade-in {
  -moz-animation: fade-in 0.5s ease-out 0.3s forwards;
  -webkit-animation: fade-in 0.5s ease-out 0.3s forwards;
  animation: fade-in 0.5s ease-out 0.3s forwards;
  opacity: 0;
}
.long-fade-in {
  -moz-animation: fade-in 2s ease-out 0.3s forwards;
  -webkit-animation: fade-in 2s ease-out 0.3s forwards;
  animation: fade-in 2s ease-out 0.3s forwards;
  opacity: 0;
}
.delayed-fade-in {
  -moz-animation: fade-in 0.8s ease-out 0.8s forwards;
  -webkit-animation: fade-in 0.8s ease-out 0.8s forwards;
  animation: fade-in 0.8s ease-out 0.8s forwards;
  opacity: 0;
}
.fade-in-frames 0% {
  opacity: 0;
}
.fade-in-frames 100% {
  opacity: 1;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
