.comix-app .logo {
  transition: top 0.25s ease-in-out;
  -webkit-transition: top 0.25s ease-in-out;
  -moz-transition: top 0.25s ease-in-out;
  -o-transition: top 0.25s ease-in-out;
}
.comix-app .lft-hb,
.comix-app .rt-hb {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
